--extra-index-url https://download.pytorch.org/whl/cpu

pyrofork
tgcrypto
fastapi
uvicorn
pillow
numpy
torch
torchvision
transformers
accelerate
python-dotenv
python-multipart
aiofiles
requests
opencv-python-headless
